<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<<<<<<< HEAD
<%- include('./partials/head', { title : "Agregar Producto" }) %>

    <body class="addProducts">
        <%- include('./partials/header') %>
=======
=======
>>>>>>> develop
<%- include('../partials/head', { title : "Agregar Producto" }) %>

    <body class="addProducts">
        <%- include('../partials/header') %>
<<<<<<< HEAD
>>>>>>> 55ba5bea292ed72bbb6154c2ac46db6d542e59f6
=======
>>>>>>> develop
            <main>
                <section class="add_container">
                    <h3>Agregar Producto</h3>
                    <form action="" method="">
<<<<<<< HEAD
<<<<<<< HEAD
                        <article>
                            <div class="add_form-box">
                                <label for="name"><strong>Nombre</strong></label>
                                <input class="" type="text" id="name" name="name">
                            </div>
                            <div class="add_form-box-description">
                                <label for="desciption"><strong>Descripción</strong></label>
                                <textarea  type="text" id="desciption" name="desciption" rows="3" cols="35"></textarea>
                            </div>
                            <div class="add_form-box">
                                <label for="image"><strong>Imagen</strong></label>
                                <input type="file" id="image" name="image" multiple>
                            </div>
                            <div class="add_form-box">
                                <label for="category"><strong>Categoría</strong></label>
                                <select name="category" id="category">
                                    <option value="" hidden selected>Selecciona la categoría...</option>
                                </select>
                            </div>
                            <div class="add_form-box">
                                <label for="propiety"><strong>Propiedad</strong></label>
                                <select name="size" id="size">
                                    <option value="" hidden selected>Seleccione la propiedad...</option>
                                </select>
                            </div>
                            <div class="add_form-box">
                                <label for="price"><strong>Precio</strong></label>
                                <input class="" type="number" id="price" name="price">
=======
=======
>>>>>>> develop
                        <article class="camps_container">
                            <div class="sub_container">
                                <div class="add_form-box">
                                    <label for="name"><strong>Nombre</strong></label>
                                    <input class="" type="text" id="name" name="name" style="padding:5px;">
                                </div>
                                <div class="add_form-box">
                                    <label for="image"><strong>Imagen</strong></label>
                                    <input type="file" id="image" name="image" multiple>
                                </div>
                                <div class="add_form-box">
                                    <label for="category"><strong>Categoría</strong></label>
                                    <select name="category" id="category">
                                        <option value="" hidden selected>Selecciona la categoría...</option>
                                    </select>
                                </div>
                                <div class="add_form-box">
                                    <label for="price"><strong>Precio</strong></label>
                                    <input class="" type="number" id="price" name="price" style="padding:5px;">
                                </div>
                            </div>
                            <div>
                                <div class="add_form-box-description">
                                    <label for="desciption"><strong>Descripción</strong></label>
                                    <textarea type="text" id="desciption" name="desciption" rows="3" cols="35"
                                        style="resize: none; padding:5px;"></textarea>
                                </div>
<<<<<<< HEAD
>>>>>>> 55ba5bea292ed72bbb6154c2ac46db6d542e59f6
=======
>>>>>>> develop
                            </div>
                        </article>
                        </div>
                        </div>
                        <div class="register_center">

<<<<<<< HEAD
<<<<<<< HEAD
                            <div class="register_button">
=======
                            <div class="add_button">
>>>>>>> 55ba5bea292ed72bbb6154c2ac46db6d542e59f6
=======
                            <div class="add_button">
>>>>>>> develop
                                <button type="submit">Enviar</button>
                                <button type="reset">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </section>
            </main>
<<<<<<< HEAD
<<<<<<< HEAD
            <%- include('./partials/footer') %>
    </body>

</html>
=======
=======
>>>>>>> develop
            <%- include('../partials/footer') %>
    </body>

</html>
<<<<<<< HEAD
>>>>>>> 55ba5bea292ed72bbb6154c2ac46db6d542e59f6
=======
>>>>>>> develop
