<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Productos" }) %>

  <body class="productAll">
    <%- include('../partials/header') %>
      <main>
        <section class="primer_contenedor">
          <div class="container">
            <h2 class="titulares" id="bioCapilar">BioCapilar</h2>
            <div class="overlay">
              <img style="width:100%" src="/images/category/banner-capilar.jpg" alt="">
            </div>
            <div class="box">
              <div class="content">
                <p id="capilar">
                  La naturaleza nos regala su frescura, fuerza, y vitalidad. BioCapilar es libertad, belleza, y salud para nuestro cabello.
                </p>
              </div>
              <div class="image">
                <img src="/images/category/banner-capilar.jpg" alt="">
              </div>
            </div>
          </div>
          <section class="row">
            <% bioCapilar.forEach(({id,productImages,name,discount,property,price})=> { %>
              <article class="product_all_article">
                <div class="card estilo-c">
                  <a href="/products/card/<%= id %> ">
                  <div class="img-container">
                    <img src="/images/products/<%= productImages[0].name%>" alt="imagen del producto">
                    <span class="promo">
                      <%= discount %>% off
                    </span>
                  </div>
                  <div class="info-container">
                    <div class="Card-info-texto">
                        <h2 class="name">
                          <%= name %>
                        </h2>
                        <span>
                          <%= property.name %>
                        </span>
                        <p>$
                          <% if (discount) { %>
                            <%= toThousand(price - (price * discount / 100)) %>
                              <% }else{ %>
                                <%= toThousand(price) %>
                                  <% } %>
                        </p>
                      </a>
                    </div>
                    <div class="card-c-iconos">
                      <div class="producto-iconos">
                        <% if (locals.userLogin) { %>
                          <% if (userLogin.category==="admin" ) { %>
                            <a href="/products/edit/<%= id %> " title="Editar producto"><i
                                class="fa-solid fa-pen"></i></a>
                            <% } %>
                              <% } %>
                                <% if (locals.userLogin) { %>
                                  <a style="cursor: pointer;"><i class="fa-solid fa-share-nodes" title="Compartir"></i></a>
                                  <a onclick="verificateFavourite(`<%= id %>`)" style="cursor: pointer;"><i class="fa-regular fa-heart" title="Favoritos"></i></a>
                                  <button title="Agregar producto al carrito" class="add_product_cart cart_button_<%= id %> icons__hover"
                                    value="<%= id %>" onclick="cart_action(`<%= id %>`)" style="cursor:pointer;">
                                    <i class="fa-solid fa-cart-shopping" style="position: relative;">
                                      <i class="fa-solid fa-slash cart_barra_<%= id %> cart_barra" >
                                      </i>
                                    </i>
                                  </button>
                                  <% }else{ %>
                                    <a href="/users/login" style="cursor: pointer;"><i class="fa-solid fa-share-nodes" title="Compartir"></i></a>
                                    <a href="/users/login" style="cursor: pointer;"><i class="fa-regular fa-heart" title="Favoritos"></i></a>
                                    <a title="Agregar producto al carrito" class="icons__hover" value="<%= id %>" href="/users/login">
                                      <i class="fa-solid fa-cart-shopping" style="position: relative; cursor: pointer;">
                                      </i>
                                    </a>
                                    <% } %>
                      </div>
                    </div>
              </article>
              <% }) %>
          </section>

          <div class="container">
            <h2 class="titulares" id="BioCorporal">BioCorporal</h2>
            <div class="overlay">
              <img style="width:100%" src="/images/category/banner-corporal.jpg" alt="">
            </div>
            <div class="box">
              <div class="content">
                <p id="corporal">
                  Te invitamos a descubrir en cada opción, una experiencia, una aventura. BioCorporal es compartir energía, cuidado, amor; con nuestro cuerpo y el mundo que nos rodea.
                </p>
              </div>
              <div class="image">
                <img src="/images/category/banner-corporal.jpg" alt="">
              </div>
            </div>
          </div>
          <section class="row">
            <% bioCorporal.forEach(({id,productImages,name,discount,property,price})=> { %>
              <article class="product_all_article">
                <div class="card estilo-c">
                  <a href="/products/card/<%= id %> ">
                  <div class="img-container">
                    <img src="/images/products/<%= productImages[0].name%>" alt="imagen del producto">
                    <span class="promo">
                      <%= discount %>% off
                    </span>
                  </div>
                  <div class="info-container">
                    <div class="Card-info-texto">
                        <h2 class="name">
                          <%= name %>
                        </h2>
                      </a>
                      <span>
                        <%= property.name %>
                      </span>
                      <p>$
                        <% if (discount) { %>
                          <%= toThousand(price - (price * discount / 100)) %>
                            <% }else{ %>
                              <%= toThousand(price) %>
                                <% } %>
                      </p>
                    </div>
                    <div class="card-c-iconos">
                      <div class="producto-iconos">
                        <% if (locals.userLogin) { %>
                          <% if (userLogin.category==="admin" ) { %>
                            <a href="/products/edit/<%= id %> " title="Editar producto"><i
                                class="fa-solid fa-pen"></i></a>
                            <% } %>
                              <% } %>
                                <% if (locals.userLogin) { %>
                                  <a style="cursor: pointer;" ><i class="fa-solid fa-share-nodes" title="Compartir"></i></a>
                                  <a  style="cursor: pointer;" onclick="verificateFavourite(`<%= id %>`)"><i class="fa-regular fa-heart" title="Favoritos" "></i></a>
                                  <button title="Agregar producto al carrito" class="add_product_cart cart_button_<%= id %> icons__hover"
                                    value="<%= id %>" onclick="cart_action(`<%= id %>`)" style="cursor: pointer;">
                                    <i class="fa-solid fa-cart-shopping" style="position: relative;">
                                      <i class="fa-solid fa-slash cart_barra_<%= id %> cart_barra" >
                                      </i>
                                    </i>
                                  </button>
                                  <% }else{ %>
                                    <a href="/users/login" style="cursor: pointer;" ><i class="fa-solid fa-share-nodes" title="Compartir"></i></a>
                                    <a href="/users/login"style="cursor: pointer;" ><i class="fa-regular fa-heart" title="Favoritos"></i></a>
                                    <a title="Agregar producto al carrito" class="icons__hover" value="<%= id %>" href="/users/login">
                                      <i class="fa-solid fa-cart-shopping" style="position: relative; cursor: pointer;">
                                      </i>
                                    </a>
                                    <% } %>
                      </div>
                    </div>
              </article>
              <% }) %>
          </section>

          <div class="container">
            <h2 class="titulares" id="BioSpa">BioSpa</h2>
            <div class="overlay">
              <img style="width:100%" src="/images/category/banner-spa.jpg" alt="">
            </div>
            <div class="box">
              <div class="content">
                <p id="spa">
                  Nuestro tiempo de relax, significa conectar con nuestra esencia. Un momento para vivir y celebrar nuestra mejor versión. BioSpa es pureza, bienestar, equilibrio.
                </p>
              </div>
              <div class="image">
                <img src="/images/category/banner-spa.jpg" alt="">
              </div>
            </div>
          </div>
          <section class="row">
            <% bioSpa.forEach(({id,productImages,name,discount,property,price})=> { %>
              <article class="product_all_article">
                <div class="card estilo-c">
                  <a href="/products/card/<%= id %> ">
                  <div class="img-container">
                    <img src="/images/products/<%= productImages[0].name%>" alt="imagen del producto">
                    <span class="promo">
                      <%= discount %>% off
                    </span>
                  </div>
                  <div class="info-container">
                    <div class="Card-info-texto">
                        <h2 class="name">
                          <%= name %>
                        </h2>
                      </a>
                      <span>
                        <%= property.name %>
                      </span>
                      <p>$
                        <% if (discount) { %>
                          <%= toThousand(price - (price * discount / 100)) %>
                            <% }else{ %>
                              <%= toThousand(price) %>
                                <% } %>
                      </p>
                    </div>
                    <div class="card-c-iconos">
                      <div class="producto-iconos">
                        <% if (locals.userLogin) { %>
                          <% if (userLogin.category==="admin" ) { %>
                            <a href="/products/edit/<%= id %> " title="Editar producto"><i
                                class="fa-solid fa-pen"></i></a>
                            <% } %>
                              <% } %>
                                <% if (locals.userLogin) { %>
                                  <a style="cursor: pointer;"><i class="fa-solid fa-share-nodes" title="Compartir"></i></a>
                                  <a style="cursor: pointer;" onclick="verificateFavourite(`<%= id %>`)"><i class="fa-regular fa-heart" title="Favoritos"></i></a>
                                  <button title="Agregar producto al carrito" class="add_product_cart cart_button_<%= id %> icons__hover"
                                    value="<%= id %>" onclick="cart_action(`<%= id %>`)" style="cursor: pointer;">
                                    <i class="fa-solid fa-cart-shopping" style="position: relative;">
                                      <i class="fa-solid fa-slash cart_barra_<%= id %> cart_barra" >
                                      </i>
                                    </i>
                                  </button>
                                  <% }else{ %>
                                    <a href="/users/login" style="cursor: pointer;"><i class="fa-solid fa-share-nodes" title="Compartir"></i></a>
                                    <a href="/users/login" style="cursor: pointer;"><i class="fa-regular fa-heart" title="Favoritos"></i></a>
                                    <a title="Agregar producto al carrito" class="icons__hover" value="<%= id %>" href="/users/login">
                                      <i class="fa-solid fa-cart-shopping" style="position: relative; cursor: pointer;">
                                      </i>
                                    </a>
                                    <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <% }) %>
          <!-- </section>
          <div class="banner">
            <img src="/images/Banner03.png" alt="">
          </div>
        </section> -->
      </main>

      <%- include('../partials/footer') %>
      <script src="/javascript/all.js"></script>
  </body>

</html>