<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Detalle del Producto" }) %>

  <body class="productCard">
    <%- include('../partials/header') %>
      <main>
        <section class="primer_contenedor">

          <div class="container-card">

            <div class="box-imagen">
              <img src="/images/products/<%= product.productImages[0].name%>" alt="imagen de producto">
            </div>
            <div class="box-texto-iconos">
              <h1>
                <%= product.name %>
              </h1>
              <span>-<%= product.property.name%>-</span>
              <ul class="info-card">
                <li>Precio pago en efectivo: $
                  <% if (product.discount) { %>
                    <%= toThousand(product.price - (product.price * product.discount / 100)) %>
                      <% }else{ %>
                        <%= toThousand(product.price) %>
                          <% } %>.-
                </li>
                <li class="promocion"> Promoción: <%= product.discount %>% off (*hasta agotar stock).</li>
                <li> Peso: <%= product.volume %> grs. </li>
              </ul>
              <div class="producto-iconos">
                <% if (locals.userLogin) { %>
                  <% if (userLogin.rol==="admin" || userLogin.rol == "moderator") { %>
                    <form action="/Products/remove/<%= product.id %>?_method=DELETE" method="POST">
                      <button type="submit" title="Eliminar producto" style="cursor: pointer" class="icons__hover"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                    <a href="/Products/edit/<%= product.id %>" class="icons__hover" title="Editar producto"><i
                        class="fa-solid fa-pen"></i></a>
                    <% } %>
                      <% } %>
                        <% if (locals.userLogin) { %>
                          <button class="add_favourite" onclick="verificateFavourite(`<%= product.id %>`)" style="cursor: pointer"><i class="fa-regular fa-heart" title="Favorito"></i></button>
                          <a title="Compartir enlace" class="icons__hover" style="cursor: pointer"><i class="fa-solid fa-share-nodes" ></i></a>
                          <button title="Agregar producto al carrito" class="add_product_cart icons__hover"
                            value="<%= product.id %>" style="cursor: pointer">
                            <i class="fa-solid fa-cart-shopping" style="position: relative;">
                              <i class="fa-solid fa-slash card_barra">
                              </i>
                            </i>
                          </button>
                          <% }else{ %>
                            <a class="add_favourite icons__hover" href="/users/login" style="cursor: pointer"><i class="fa-regular fa-heart" title="Favorito"></i></a>
                            <a href="/users/login" title="Compartir enlace" class="icons__hover" style="cursor: pointer"><i class="fa-solid fa-share-nodes"></i></a>
                            <a title="Agregar producto al carrito" class="icons__hover" value="<%= product.id %>" href="/users/login" style="cursor: pointer">
                              <i class="fa-solid fa-cart-shopping" style="position: relative;">
                              </i>
                            </a>

                            <% } %>


              </div>
            </div>
            <p>
              <%= product.description %>
            </p>
          </div>


          <h2 class="titulares">Productos Relacionados</h2>
          <section class="row">
            <% relacionados.forEach(({id,productImages,name,discount,property,price})=> { %>
              <article>
                <div class="card estilo-c">
                  <a href="/products/card/<%= id %> ">
                  <div class="img-container">
                    <img src="/images/products/<%= productImages[0].name%>" alt="imagen del producto">
                    <span class="promo">
                      <%= discount %>% off
                    </span>
                    <div class="info-container">
                      <div class="Card-info-texto">
                          <h2>
                            <%= name %>
                          </h2>
                        <span>
                          <%= property.name %>
                        </span>
                        <p>$
                          <% if (discount) { %>
                            <%= toThousand(price - (price * discount / 100)) %>
                              <% }else{ %>
                                <%= toThousand(price) %>
                                  <% } %>
                        </p>
                      </a>
                      </div>
                      <div class="card-c-iconos">
                        <div class="producto-iconos">
                          <% if (locals.userLogin) { %>
                            <% if (userLogin.category ==="admin" ) { %>
                              <a href="/products/edit/<%= id %>" class="icons__hover" title="Editar producto" style="cursor: pointer"><i class="fa-solid fa-pen"></i></a>
                              <% } %>
                              <a style="cursor: pointer" class="icons__hover"><i class="fa-solid fa-share-nodes" title="Compartir"></i></a>
                              <a style="cursor: pointer" class="icons__hover" onclick="verificateFavourite(`<%= id %>`)"><i class="fa-regular fa-heart" title="Favoritos"></i></a>
                              <button title="Agregar producto al carrito" class="add_product_cart cart_button_<%= id %> icons__hover"
                                value="<%= id %>" onclick="cart_action(`<%= id %>`)" style="cursor: pointer" >
                                <i class="fa-solid fa-cart-shopping" style="position: relative;">
                                  <i class="fa-solid fa-slash cart_barra_<%= id %> cart_barra" >
                                  </i>
                                </i>
                              </button>
                          <% }else{ %>
                                  <a href="/users/login" style="cursor: pointer" class="icons__hover"><i class="fa-solid fa-share-nodes" title="Compartir"></i></a>
                                  <a href="/users/login" style="cursor: pointer" class="icons__hover"><i class="fa-regular fa-heart" title="Favoritos"></i></a>
                                  <a href="/products/cart/" style="cursor: pointer" title="Agregar producto al carrito"><i
                                      class="fa-solid fa-cart-shopping icons__hover"></i></a>
                          <%  } %>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </article>
              <% }) %>
          </section>
          <h2 class="titulares">Nuestra comunidad</h2>
          <section class="comunidad">
            <div class="card__perfil">
              <div class="card__nombre">
                <div class="card__nombre_box-img">
                  <img src="/images/cara5.jpg" alt="">
                </div>
                <h2>Mariana Blas</h2>
              </div>
              <div class="card__descripcion">
                <p> "En todos los productos se nota el tiempo y cuidado que tienen al hacerlos, es un gusto natural que puedo darme en la ciudad"</p>
              </div>
            </div>
            <div class="card__perfil">
              <div class="card__nombre">
                <div class="card__nombre_box-img">
                  <img src="/images/cara4.jpg" alt="">
                </div>
                <h2>Samira Luna</h2>
              </div>
              <div class="card__descripcion">
                <p>"La diferencia se nota desde el primer día, con los productos naturales mi piel luce y se siente saludable"</p>
              </div>
            </div>
            <div class="videos">
              <video control autoplay loop muted width="200" height="220">
                <source src="https://v.pinimg.com/videos/mc/expMp4/12/33/c9/1233c90805745925f1cd114692e46589_t4.mp4">
              </video>
            </div>
          </section>

        </section>
      </main>
      <%- include('../partials/footer') %>
      <script src="/javascript/deteleProduct.js"></script>
        <script src="/javascript/card.js"></script>
  </body>

</html>