<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title : "Carrito" }) %>

    <body class="productCart">
        <%- include('../partials/header') %>
            <main>
                <section class="cart_container">
                    <div class="cart_pasos">
                        <span class="cart_paso">Paso 1</span>
                        <span class="cart_paso">Paso 2</span>
                        <span class="cart_paso">Paso 3</span>
                    </div>
                    <div class="cart_articles">

                    </div>
                    <div class="cart_sect_playment">
                        <div class="cart_sect_playment_sub">
                            <label>Medio de Pago</label>
                            <select class="cart_select_payment" name="payments" id="payments" size="1">
                                <option value="" hidden selected>Selecciona un medio de Pago...</option>
                                <% payments.forEach(payment=> { %>
                                    <option value="<%= payment.id %>">
                                        <%= payment.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="cart_sect_playment_sub">
                            <label for="discount_code">Código de Descuento</label>
                            <input class="cart_discount_payment" type="text"
                                placeholder="Ingresar aquí código de descuento">
                        </div>
                        <div class="cart_sect_playment_sub">
                            <label>Total</label>
                            <input class="cart_input_payment total" type="text" value="$" disabled>
                        </div>
                        <div class="cart_sect_playment_sub">
                            <label>Total con Descuento</label>
                            <input class="cart_input_payment total_desc" type="text" value="$" disabled>
                        </div>
                    </div>
                    <div class="cart_buttons">
                        <button class="cart_button clear_cart" onclick="EliminateProduct(0)">Limpiar Carrito</button>
                        <button class="cart_button" type="reset">Siguiente Paso</button>
                    </div>


                </section>
            </main>
            <%- include('../partials/footer') %>
                <script src="/javascript/cart.js"></script>
    </body>

</html>