<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title : "Editar Producto" }) %>

    <body class="edit">
        <%- include('../partials/header') %>
            <main>
                    <section class="add_container">
                        <h3>Editar Producto</h3>
                        
                        <form action="/products/update/<%= product.id %>?_method=PUT" class="productEdit" method="POST"
                            enctype="multipart/form-data">
                            <div class="container_images_add">
                                <div class="add_form-box_image">
                                    <span class="title_image_primary">Imagen principal</span>
                                    <label class="plus_add_product_1 disable" for="image1" id="plus_image_1"><i class="fas fa-plus-circle"></i></label>
                                        <span class="clear_preview_image_1" id="clear_preview_1"><i class="fas fa-times-circle"></i></span>
                                    <input class="add_input" type="file" id="image1" name="images1" accept="image/*" >
                                    <div id="imagePreview1" class="imagePreview" >
                                        <img src="/images/products/<%= product.productImages[0] ? product.productImages[0].name : "noimage.jpg" %>" alt=""  class="preview_image_product">
                                    </div>
                                </div>
                                <!-- <div class="secondary-box_product_add_image"> -->
                                    <div class="add_form-box_image">
                                        <input class="add_input" type="file" id="image2" name="images2" accept="image/*" >
                                        <label class="plus_add_product_2 disable" for="image2" id="plus_image_2"><i class="fas fa-plus-circle"></i></label>
                                            <span class="clear_preview_image_2" id="clear_preview_2"><i class="fas fa-times-circle"></i></span>
                                        <div id="imagePreview2" class="imagePreview" >
                                            <img src="/images/products/<%= product.productImages[1] ? product.productImages[1].name : "noimage.jpg" %>" alt=""  class="preview_image_product">
                                        </div>
                                    </div>
                                    <div class="add_form-box_image">
                                        <input class="add_input" type="file" id="image3" name="images3" accept="image/*" >
                                        <label class="plus_add_product_3 disable" for="image3" id="plus_image_3"><i class="fas fa-plus-circle"></i></label>
                                            <span class="clear_preview_image_3" id="clear_preview_3"><i class="fas fa-times-circle"></i></span>
                                        <div id="imagePreview3" class="imagePreview" >
                                            <img src="/images/products/<%= product.productImages[2] ? product.productImages[2].name : "noimage.jpg" %>" alt=""  class="preview_image_product">
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <article class="secttion_date_add_product">
                                <div class="sub_container">
                                    <div class="add_form-box">
                                        <label for="name">Nombre</label>
                                        <input value="<%= product.name %>" class="add_input" type="text" id="name"
                                            name="name" style="padding:5px;">
                                            <p class="add_error-blur" id="errorName"></p>
                                    </div>

                                    <div class="add_form-box">
                                        <label for="category">Categoría</label>
                                        <select class="add_input" name="category" id="category">
                                            <% categories.forEach(categori=> { %>
                                                <option value="<%= categori.id %>" <%=categori.id===product.category
                                                    ? 'selected' : null %>><%= categori.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <p class="add_error-blur" id="errorCategory"></p>
                                    </div>
                                    <div class="add_form-box">
                                        <label for="volume">Peso (g)</label>
                                        <input value="<%= product.volume %>" class="add_input" type="number" id="volume"
                                            name="volume" style="padding:5px;">
                                            <p class="add_error-blur" id="errorVolume"></p>
                                        </div>
                                    <div class="add_form-box">
                                        <label for="price">Precio</label>
                                        <input value="<%= product.price %>" class="add_input" type="number" id="price"
                                            name="price" style="padding:5px;">
                                            <p class="add_error-blur" id="errorPrice"></p>
                                        </div>
                                    <div class="add_form-box">
                                        <label for="discount">Descuento</label>
                                        <input value="<%= product.discount %>" class="add_input" type="number"
                                            id="discount" name="discount" style="padding:5px;">
                                            <p class="add_error-blur" id="errorDiscount"></p>
                                        </div>
                                    <div class="add_form-box">
                                        <label for="discount">Stock</label>
                                        <input value="<%= product.stock %>" class="add_input" type="number"
                                            id="stock" name="stock" style="padding:5px;">
                                            <p class="add_error-blur" id="errorStock"></p>
                                        </div>
                                    
                                </div>
                                <div>
                                    <div class="add_form-box">
                                        <label for="ingredients">Ingredientes</label>
                                        <input value="<%= product.ingredients %>" class="add_input" type="text"
                                            id="ingredients" name="ingredients" style="padding:5px;">
                                            <p class="add_error-blur" id="errorIngredients"></p>
                                        </div>
                                    <div class="add_form-box">
                                        <label for="property">Propiedades</label>
                                        <select class="add_input" name="property" id="property">
                                            <% properties.forEach(properti=> { %>
                                                <option value="<%= properti.id %>" <%=properti.id===product.property_id
                                                    ? 'selected' : null %>><%= properti.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <p id="add_error-blur" class="errorBlur"></p>
                                    </div>
                                    <div class="add_form-box-description">
                                        <label for="description">Descripción</label>
                                        <textarea class="add_input" type="text" id="description" name="description"
                                            rows="3" cols="35"
                                            style="resize: none; padding:5px;"><%= product.description.trim() %></textarea>
                                            <p class="add_error-blur" id="errorDescription"></p>
                                        </div>
                                </div>
                            </article>
                            </div>
                            </div>
                            <div id="add_error-submit">
                                <ul class="errors">
                                    
                                </ul>
                            </div>
                            <div class="register_center">
                                <div class="add_button">
                                    <button type="submit">Actualizar</button>
                                    <button type="reset">Resetear</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </main>
            <%- include('../partials/footer') %>
            <script src="/javascript/productEdit.js"></script>
    </body>

</html>