<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Productos" }) %>

    <body class="productAll">
        <%- include('../partials/header') %>
            <main>
                <section class="main">
                    <h2 class="titulares" id="BioCapilar">BioCapilar</h2>
                    <section class="row">
                        <% bioCapilar.forEach(({id,name,price,discount,property,image})=> { %>
                            <article>
                                <div class="card estilo-c">
                                    <div class="img-container">
                                        <a href="/products/Card/<%= id %>">
                                            <img src="/images/<%= image %>" alt="producto">
                                        </a>
                                        <span class="promo">
                                            <%= discount %>% off
                                        </span>
                                    </div>
                                    <div class="info-container">
                                        <div class="Card-info-texto">
                                            <a href="/products/Card/<%= id %>">
                                                <h2>
                                                    <%= name %>
                                                </h2>
                                            </a>
                                            <h4>
                                                <%= category.name %>
                                            </h4>
                                            <span>-<%= property %> -</span>
                                            <h3>$<%= price %> .-</h3>
                                            <span class="rating">⭐⭐⭐⭐</span>
                                        </div>
                                        <div class="card-c-iconos">
                                            <div class="iconos-white">
                                                <a href="/products/Card/<%= id %>"><i class="fa-solid fa-eye"></i></a>
                                                <a href="/products/Edit/<%= id %>"><i class="fa-solid fa-pen"></i></a>
                                                <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                                <a href="#"><i class="fa-solid fa-star"></i></a>
                                            </div>
                                            <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <% }) %>
                    </section>
                    <h2 class="titulares" id="BioCorporal">BioCorporal</h2>
                    <section class="row">
                        <% bioCorporal.forEach(({id,name,price,discount,property,image})=> { %>
                            <article>
                                <div class="card estilo-c">
                                    <div class="img-container">
                                        <a href="/products/Card/<%= id %>">
                                            <img src="/images/<%= image %>" alt="producto">
                                        </a>
                                        <span class="promo">
                                            <%= discount %>% off
                                        </span>
                                    </div>
                                    <div class="info-container">
                                        <div class="Card-info-texto">
                                            <a href="/products/Card/<%= id %>">
                                                <h2>
                                                    <%= name %>
                                                </h2>
                                            </a>
                                            <h4>
                                                <%= category.name %>
                                            </h4>
                                            <span>-<%= property %> -</span>
                                            <h3>$<%= price %> .-</h3>
                                            <span class="rating">⭐⭐⭐⭐</span>
                                        </div>
                                        <div class="card-c-iconos">
                                            <div class="iconos-white">
                                                <a href="/products/Card/<%= id %>"><i class="fa-solid fa-eye"></i></a>
                                                <a href="/products/Edit/<%= id %>"><i class="fa-solid fa-pen"></i></a>
                                                <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                                <a href="#"><i class="fa-solid fa-star"></i></a>
                                            </div>
                                            <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <% }) %>
                    </section>
                    <h2 class="titulares" id="BioSpa" >BioSpa</h2>
                    <section class="row">
                        <% bioSpa.forEach(({id,name,price,discount,property,image})=> { %>
                            <article>
                                <div class="card estilo-c">
                                    <div class="img-container">
                                        <a href="/products/Card/<%= id %>">
                                            <img src="/images/<%= image %>" alt="producto">
                                        </a>
                                        <span class="promo">
                                            <%= discount %>% off
                                        </span>
                                    </div>
                                    <div class="info-container">
                                        <div class="Card-info-texto">
                                            <a href="/products/Card/<%= id %>">
                                                <h2>
                                                    <%= name %>
                                                </h2>
                                            </a>
                                            <h4>
                                                <%= category.name %>
                                            </h4>
                                            <span>-<%= property %> -</span>
                                            <h3>$<%= price %> .-</h3>
                                            <span class="rating">⭐⭐⭐⭐</span>
                                        </div>
                                        <div class="card-c-iconos">
                                            <div class="iconos-white">
                                                <a href="/products/Card/<%= id %>"><i class="fa-solid fa-eye"></i></a>
                                                <a href="/products/Edit/<%= id %>"><i class="fa-solid fa-pen"></i></a>
                                                <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                                <a href="#"><i class="fa-solid fa-star"></i></a>
                                            </div>
                                            <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <% }) %>
                    </section>
                </section>
                <div class="banner">
                    <img src="/images/Banner03.png" alt="">
                </div>
            </main>

            <%- include('../partials/footer') %>
                <script src="/javascript/menuMobile.js"></script>
    </body>

</html>