<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Detalle de Producto" }) %>

  <body class="productCard">
    <%- include('../partials/header') %>
      <main>
        <section class="producto">
          <div class="producto__texto">
            <h1>
              <%= product.name %>
            </h1>
            <div class="container-imagen-texto">
              <div class="producto__imagen">
                <div class="box-imagen">
                  <img src="/images/<%= product.image %>" alt="...">
                </div>
                <div class="box-info">
                  <h5>-<%= product.property %>-</h5>
                  <div class="box-info-precio">
                    <h2>$<%= product.price %>
                    </h2>
                    <span class="rating">⭐⭐⭐⭐</span>
                  </div>
                </div>
              </div>
              <div class="box-texto-iconos">
                <p>
                  <%= product.description %>
                    <br> SUMATE AL CAMBIO💚
                </p>
                <div class="producto__cart">
                  <div class="info-precio">
                    <h4>Precio pago en efectivo: $ <%= product.price %> .-</h4>
                    <h5>Promoción: <%= product.discount %> % off (* Hasta agotar stock)</h5>
                    <h6>Peso: <%= product.volume %> grs.</h6>
                  </div>
                  <div class="producto-iconos">
                    <form action="/Products/remove/<%= product.id %>?_method=DELETE" method="POST">
                      <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                    <a href="/products/Edit/<%= product.id %> "><i class="fa-solid fa-pen"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                    <a href=""><i class="fa-solid fa-share-nodes"></i></a>
                    <a href="/productCarrito.html"><i class="fa-solid fa-cart-shopping"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="titulares">Productos Relacionados</h2>
            <section class="row">
