<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Detalle de Producto" }) %>

  <body class="productCard">
    <%- include('../partials/header') %>
      <main>
        <section class="producto">
          <div class="producto__texto">
            <h1>
              <%= product.name %>
            </h1>
            <div class="container-imagen-texto">
              <div class="producto__imagen">
                <div class="box-imagen">
                  <img src="/images/<%= product.image %>"  alt="...">
                </div>
                <div class="box-info">
                  <h5>-<%= product.property %>-</h5>
                  <div class="box-info-precio">
                    <h2>$<%= product.price %>
                    </h2>
                    <span class="rating">⭐⭐⭐⭐</span>
                  </div>
                </div>
              </div>
              <div class="box-texto-iconos">
                <p>
                  <%= product.description %>
                    <br> SUMATE AL CAMBIO💚
                </p>
                <div class="producto__cart">
                  <div class="info-precio">
                    <h4>Precio pago en efectivo: $ <%= product.price %> .-</h4>
                    <h5>Promoción: <%= product.discount %> % off (* Hasta agotar stock)</h5>
                    <h6>Peso: <%= product.volume %> grs.</h6>
                  </div>
                  <div class="producto-iconos">
                    <form action="/Products/remove/<%= product.id %>?_method=DELETE" method="POST">
                      <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                    <a href="/products/Edit/<%= product.id %> "><i class="fa-solid fa-pen"></i></a>
                    <a href="#"><i class="fa-solid fa-star"></i></a>
                    <a href=""><i class="fa-solid fa-share-nodes"></i></a>
                    <a href="/productCarrito.html"><i class="fa-solid fa-cart-shopping"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="titulares">Productos Relacionados</h2>
            <section class="row">
                <% products.forEach(({id,name,price,discount,property,image})=> { %>
                  <article>
                    <div class="card estilo-c">
                      <div class="img-container">
                        <img src="/images/<%= image %> " alt="producto">
                        <span class="promo">
                          <%= discount %>% off
                        </span>
                      </div>
                      <div class="info-container">
                        <div class="Card-info-texto">
                          <a href="/products/Card/<%= id %> ">
                            <h2>
                              <%= name %>
                            </h2>
                          </a>
                          <span>-<%= property %> -</span>
                          <h3>$<%= price %> .-</h3>
                          <span class="rating">⭐⭐⭐⭐</span>
                        </div>
                        <div class="card-c-iconos">
                          <div class="iconos-white">
                            <a href="/products/Card/<%= id %> "><i class="fa-solid fa-eye"></i></a>
                            <a href="/products/Edit/<%= id %> "><i class="fa-solid fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                          </div>
                          <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                        </div>
                      </div>
                    </div>
                  </article>
                  <% }) %>
              </section>
            <h2 class="titulares">Nuestra comunidad</h2>
            <section class="comunidad">
              <div class="box-perfiles">
                <div class="card__perfil">
                  <div class="card__nombre">
                    <div class="card__nombre_box-img">
                      <img src="/images/cara8.jpg" alt="">
                    </div>
                    <h2>Ramiro Cunar</h2>
                  </div>
                  <div class="card__descripcion">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex ducimus doloremque porro? Nulla
                      dolorum maiores laboriosam mollitia dolorem magni. Lorem ipsum dolor, sit amet consectetur
                      adipisicing
                      elit.</p>
                  </div>
                </div>
                <div class="card__perfil">
                  <div class="card__nombre">
                    <div class="card__nombre_box-img">
                      <img src="/images/cara5.jpg" alt="">
                    </div>
                    <h2>Mariana Blas</h2>
                  </div>
                  <div class="card__descripcion">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex ducimus doloremque porro? Nulla
                      dolorum maiores laboriosam mollitia dolorem magni. Lorem ipsum dolor, sit amet consectetur
                      adipisicing
                      elit.</p>
                  </div>
                </div>
                <div class="card__perfil">
                  <div class="card__nombre">
                    <div class="card__nombre_box-img">
                      <img src="/images/cara4.jpg" alt="">
                    </div>
                    <h2>Samira Luna</h2>
                  </div>
                  <div class="card__descripcion">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex ducimus doloremque porro? Nulla
                      dolorum maiores laboriosam mollitia dolorem magni. Lorem ipsum dolor, sit amet consectetur
                      adipisicing
                      elit.</p>
                  </div>
                </div>
              </div>
              <div class="iconos-eco">
                <img src="/images/icono1.jpg" alt="">
                <img src="/images/icono2.jpg" alt="">
                <img src="/images/icono3.jpg" alt="">
                <img src="/images/icono4.jpg" alt="">
              </div>
            </section>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>