<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Perfil" }) %>


    <body class="user">
        <%- include('../partials/header') %>
            <main>
                <section class="user__container">
                    <div class="user__perfil">
                        <div class="user__head">
                            <div class="user__img">
                                <img src="/images/users/<%= user.image %>" alt="">
                            </div>
                            <div class="user__names">
                                <h2>
                                    <%= user.firstname %>
                                </h2>

                                <h2>
                                    <%= user.lastname %>
                                </h2>

                            </div>
                        </div>
                        <div class="user__options" style="flex-wrap: wrap;">
                            <a style="cursor:pointer;" class="user__ubication" value="<%= user.username %>">Agregar Ubicación</a>
                            <a href="/users/profile/edit/<%= userLogin.id %>">Editar Perfil <i
                                    class="fas fa-edit"></i></a>
                            <a href="/products/cart">Carrito de compras</a>
                        </div>
                    </div>
                    <div class="user__dats-container">
                        <div class="user__dats">
                            <div class="user__info-title">
                                <h2 style="text-decoration: underline;">Datos del usuario</h2>
                            </div>
                            <div class="user__info">
                                <h3 > Usuario: </h3>
                                <h4><%= user.username %></h4>

                            </div>
                            <div class="user__info">
                                <h3>Email: </h3>
                                <h4>
                                    <%= user.email %>
                                </h4>
                            </div>
                            <div class="user__info">
                                <h3>Rol : </h3>
                                <h4>
                                    <%= user.rol.name %>
                                </h4>
                            </div>
                        </div>
                        <div class="user__historial">
                            <h3>Historial de compras:</h3>
                            <h4>No se encontraron compras realizadas</h4>
                        </div>
                    </div>

                </section>
            </main>
            <script src="/javascript/userprofile.js"></script>
    </body>
    <%- include('../partials/footer') %>
</html>