<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', { title : "Home" }) %>

    <body class="home">
        <%- include('./partials/header') %>
        
            <!-- Inicio de carrusel -->
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <!-- imagenes de carrusel -->
                    <div class="slide first">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <div class="img_1"></div>
                    </div>
                    <div class="slide">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <div class="img_2"></div>
                    </div>
                    <div class="slide">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <div class="img_3"></div>
                    </div>
                    <div class="slide">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <div class="img_4"></div>
                    </div>
                    <!-- fin de imagenes de carrusel -->
                    <!-- botones manuales -->
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                    <!-- fin de botones manuales -->
                </div>
                <!-- botones para automatico -->
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
                <!-- fin de botones automaticos -->
            </div>
            <!-- fin de carrusel -->
            <main>
                <div class="subtitulo__home">
                    <h1>Productos en Oferta</h1>
                </div>
                <section class="sect1">
                    <% products.forEach(product => { %>
                        <% if (product.dest) { %>
                            <article class="art__home">
                                <div class="nombreart__home">
                                    <h1><%= product.name %> </h1>
                                </div>
                                <div class="imgart__home">
                                    <img src="/images/<%= product.image %>" alt="">
                                </div>
                                <div class="precio">
                                    <h4><%= product.price %> $ </h4>
                                    <p><%= product.price - (product.price / product.discount)%>$ </p>
                                </div>
                                <div class="verart__home">
                                    <a href="/Products/Card/<%= product.id %>">Ver mas</a>
                                </div>
                            </article>
                        <% } %>
                    <% }) %>
                <div class='nombre-categorias__home'>
                    <h1>Categorias</h1>
                </div>
                <section class="sect2">
                    <% category.forEach(cate => { %>
                        <article class="categorias__home">
                            <a href="/Products/All#<%= cate.name %>">
                                <div class="<%= cate.name %>__home" id="cate"></div>
                                <div class="barra__cate__home">
                                    <p><%= cate.name %></p>
                                </div>
                            </a>
                        </article>
                    <% }) %>
                </section>
            </main>
            <%- include('./partials/footer') %>
                <script type="text/javascript" src="/javascript/carrusel.js"></script>
                <script src="/javascript/menuMobile.js"></script>
    </body>

</html>